.backtotopbutton {
  position: fixed;
  right: 10px;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  width: 3rem;
  height: 15rem;
  z-index: 101;
  text-align: center;
  transition: 0.4s;
  cursor: pointer;
}

.backtotopbutton article {
  font-size: 1.5rem;
  color: var(--color-white);
  font-weight: 400;
  writing-mode: vertical-rl;
  mix-blend-mode: difference;
  font-family: var(--font-fira-code);
}

.backtotopbutton:hover article {
  text-decoration: line-through var(--color-white);
}


