.footer {
  width: 100%;
  height: fit-content;
  border-top: 1px solid var(--tech-stack-box-border-color);
  position: relative;
  overflow: hidden;
}

.footerBackground {
  width: 100%;
  height: 100vh;
  background-color: #0b0b0b;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  z-index: 1;
}

.footerBlob {
  width: 100%;
  height: 200px;
  background-color: var(--color-light-purple);
  border-radius: 50%;
  filter: blur(100px);
  opacity: 0.7;
}

.footerForeground {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  backdrop-filter: blur(10px);
}

.footercontainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.twoWords {
  color: #b3b3b3;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.twoWords article {
  font-size: 3rem;
  font-family: var(--font-fira-code);
}

.socialMediaContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.getintouchHeading {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.getintouchHeading article {
  font-size: 2rem;
  background: linear-gradient(-45deg, var(--color-light-blue), var(--color-light-purple), var(--color-light-blue), var(--color-light-purple));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-family: var(--font-fira-code);
}

.logos {
  height: 80px;
  width: 100%;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.socialMediaContainer a {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 10px;
  border-radius: 50%;
  border: 2px solid #e2dede;
  position: relative;
  box-shadow: 0 0 0 #8000ff inset;
  transition-duration: 0.3s;
}

.SocialHandle {
  fill: white;
  width: 60%;
}

.GmailLogo {
  height: 70%;
  fill: white;
}

.socialMediaContainer a:hover {
  box-shadow: 0 0 50px 100px #8000ff inset;
  transition-duration: 1s;
  border: none;
}

.footerAvatarContainer {
  width: 220px;
  margin-top: 20px;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.footerAvatarImg {
  width: 100%;
  z-index: 2;
}

.footerAvatarFace {
  position: absolute;
  width: 100%;
  height: 97%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
  padding-left: 5px;
}

.footerAvatarEye {
  width: 50px;
  height: 50px;
  background-color: #dfd2d2;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerPupil {
  width: 20px;
  height: 20px;
  background-color: #000;
  border-radius: 50%;
  border: 5px solid #413333;
  filter: blur(0.6px);
}

.footerRightEye {
  box-shadow: 15px 15px 5px rgba(0, 0, 0, 0.233) inset, 10px 10px 5px rgba(41, 33, 33, 0.644) inset;
  position: relative;
}

.footerLeftEye {
  box-shadow: -10px -15px 5px rgba(0, 0, 0, 0.349) inset;
  position: relative;
}

.footerAvatarEye::before {
  position: absolute;
  content: "";
  width: 2px;
  height: 5px;
  border-radius: 50%;
  background-color: rgba(214, 214, 214, 0.726);
  z-index: 2;
  filter: blur(0.2px);
  left: 15px;
  transform: rotate(45deg);
}

.footerBottom {
  background-color: #0b0b0b;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  z-index: 3;
}

.footerBottom article {
  font-size: 1.5rem;
  color: #b0b0b0;
  font-family: var(--font-fira-code);
}

@media screen and (max-width: 500px) {
  .twoWords article {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 430px) {
  .twoWords article {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 375px) {
  .twoWords {
    height: 50px;
  }

  .twoWords article {
    font-size: 2rem;
  }

  .footerBottom article {
    font-size: 1.3rem;
  }

  .logos {
    gap: 20px;
  }
}

@media screen and (max-width: 300px) {
  .twoWords {
    align-items: flex-end;
    height: 50px;
  }

  .twoWords article {
    font-size: 1.5rem;
  }

  .footerBottom article {
    font-size: 1rem;
  }

  .socialMediaContainer a {
    width: 50px;
    height: 50px;
  }

  .logos {
    gap: 20px;
  }
}

